@layer base {
  /* スクロールバー非表示 */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* WebKit向けのスクロールバー非表示 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* 非活性状態 */
  .disabled {
    cursor: not-allowed !important;
    opacity: 0.4 !important;
    box-shadow: none !important;
  }

  /* フォーカス状態強化 */
  .focused {
    @apply outline-none ring-3 ring-focus ring-offset-2 transition-all duration-200;
  }

  /* 高コントラストモード時のフォーカス状態強化 */
  [data-contrast="high"] .focused {
    @apply ring-4 ring-offset-4 transition-all duration-200;
  }
}

/* nextjs-toploaderの背景 */
#nprogress::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: var(--color-track);
  z-index: 1999;
}
